.hidden
*.tmp
.DS_Store

# Nix outputs
result

##Coq
*.vo
*.vok
*.vos
*.glob
*.v.d
*~
CoqMakefile
CoqMakefile.conf
RocqMakefile
RocqMakefile.conf
Makefile.coq
Makefile.coq.conf
Makefile.rocq
Makefile.rocq.conf
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.ml.d
*.mllib.d
*.ml4.d
*.mli.d
*.mlpack.d
*.native
*.o
*.aux
*.d
*.lia.cache
_opam/
.merlin
META.*

.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache

## Dune build directory
_build/

## Editors

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

## Test files
*.ast
*.tast
!test/**/*.ast
!test/**/*.tast

test/**/*.txt
test/**/*.v
test/**/*.anf

## Extraction output
*.out
*.wasm
*.cwasm
*.rs
*.elm
*.c
*.h
*.mlf
