name: Build
on:
  workflow_dispatch:
  push:
    branches:
    - 'master'
    paths-ignore:
    - '**.md'
    - '**.opam'
    - 'LICENSE'
  pull_request:
    paths-ignore:
    - '**.md'
    - '**.opam'
    - 'LICENSE'
concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.head_ref || github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
env:
  GHC_VERSION: "9.10.1"
  CABAL_VERSION: "3.12.1"
  JOBS: 4
  TMPDIR: /tmp
jobs:
  build:
    name: OCaml ${{ matrix.ocaml_version }} build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        ocaml_version: ["4.14.2", "5.3.0"]
    steps:
      - name: Checkout branch ${{ github.ref_name }}
        uses: actions/checkout@v6

      - run: sudo apt-get update
      - name: Restore opam cache
        id: opam-cache
        uses: actions/cache@v5
        with:
          path: "~/.opam"
          key: opam-${{matrix.ocaml_version}}-${{hashFiles('.github/rocq-peregrine.opam.locked')}}
          restore-keys: |
            opam-${{matrix.ocaml_version}}-

      - name: Set up OCaml
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{matrix.ocaml_version}}

      - name: Build dependencies
        #if: ${{ !steps.opam-cache.outputs.cache-hit }}
        run: |
          opam repo add rocq-released https://rocq-prover.org/opam/released
          opam install --deps-only -j${{ env.JOBS }} .github/rocq-peregrine.opam.locked
          opam clean -a -c -s --logs

      - name: Set up environment
        run: |
          echo "::group::Setting up problem matcher"
          echo "::add-matcher::./.github/rocq-errors.json"
          echo "::endgroup::"

      - name: Build
        run: |
          opam install -j${{ env.JOBS }} ./rocq-peregrine.opam

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: 1.85.0

      - name: Set up Elm
        run: |
          curl -L -o elm.gz https://github.com/elm/compiler/releases/download/0.19.1/binary-for-linux-64-bit.gz
          gunzip elm.gz
          sudo chmod +x elm
          sudo mv elm /usr/local/bin/
      - name: Set up elm-test
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Set up elm-test
        run: |
          npm install -g elm-test@0.19.1-revision9

      - name: Set up GHC
        uses: haskell-actions/setup@v2
        id: haskell-setup
        with:
          ghc-version: ${{env.GHC_VERSION}}
          cabal-version: ${{env.CABAL_VERSION}}

      - name: Checkout agda2lambox
        uses: actions/checkout@v6
        with:
          repository: 4ever2/agda2lambox
          ref: 7efe9646f3c50db6dc73ead7c9c772104e5eba8c
          path: agda

      - name: Configure the agda2lambox build
        run: |
          cd agda && \
          cabal configure --disable-documentation && \
          cabal build all --dry-run
      - name: Restore cached Haskell dependencies
        uses: actions/cache/restore@v5
        id: haskell-cache
        env:
          key: ${{ runner.os }}-${{ env.GHC_VERSION }}-${{ env.CABAL_VERSION }}
        with:
          path: ${{ steps.haskell-setup.outputs.cabal-store }}
          key:  ${{ env.key }}-plan-${{ hashFiles('**/plan.json') }}
          restore-keys: ${{ env.key }}-

      - name: Install agda2lambox dependencies
        if: steps.haskell-cache.outputs.cache-hit != 'true'
        run: cd agda && cabal build all --only-dependencies
      - name: Save cached dependencies
        uses: actions/cache/save@v5
        if: steps.haskell-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.haskell-setup.outputs.cabal-store }}
          key:  ${{ steps.haskell-cache.outputs.cache-primary-key }}

      - name: Build agda2lambox
        run: cd agda && make build
      - name: Generate Agda ASTs
        run: cd agda && make test && mv test/dist/ ../test/agda/

      - name: Generate Rocq ASTs
        run: cd test/rocq && make build-ci

      - name: Set up lean and generate Lean ASTs
        uses: leanprover/lean-action@v1
        with:
          use-github-cache: false
          build: true
          test: false
          lint: false
          lake-package-directory: "test/lean/"

      - name: Test extraction
        run: |
          echo "::group::Running tests"
          eval $(opam env) && cd test && npm install && npm run test
          echo "::endgroup::"

      - name: Cache clean up
        run: |
          opam remove rocq-peregrine
          opam pin remove rocq-peregrine
          eval $(opam env)
          opam clean -a -c -s --logs
