name: Lint Opam
on:
  workflow_dispatch:
  pull_request:
    paths:
    - '**.opam'
concurrency:
  group: "${{ github.workflow }}-${{ github.event.pull_request.number || github.head_ref || github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up opam
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 4.14.x
          opam-repositories: |
            rocq-released: https://rocq-prover.org/opam/released
            default: https://opam.ocaml.org
      - name: Set up problem matcher
        run: echo "::add-matcher::./.github/opam-errors.json"
      - name: Lint opam file
        run: opam lint
